/* HOTFIX Style */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
h1,h2,h3,h4,h5,h6,p,b,span,img,ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

form {
    background: #E8EAF6;
    border-radius: 4px;
    border: 2px solid #CCC;
    padding: 10px;
    margin: 10px 0;
}

form input[type="text"], label {
    margin-bottom: 10px;
}
input {
    padding: 5px;
    border-radius: 2px;
    border: 2px solid #CCC;
}
    input:hover {
        border-color: #BDBDBD;
        cursor: pointer;
    }

h1 {
    margin-top: 10px;
}
h1 b {
    color: #1A237E;
}

label {
    min-width: 150px;
    margin-right: 10px;
    display: inline-block;
}
input[type="submit"] {
    background: #1A237E;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: 2px solid #283593;
    outline: none;
}

table {
    border: 2px solid #BDBDBD;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}
    table tr:first-child {
        font-weight: bold;
        background: #666;
        color: #FFF;
        height: 30px;
    }
    table tr {
        display: flex;
        height: 45px;
    }
    table tr + tr {
        border-top: 2px solid #BDBDBD;
    }
        table tr td {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 100px;
        }
            table tr td.grow {
                flex-grow: 3;
            }
            table tr td.grow2 {
                flex-grow: 1;
            }
            table tr td.grow3 {
                flex-grow: 2;
            }
        table tr td + td {
            border-left: 2px solid #BDBDBD;
        }
        table tr td input {
            margin: 0;
            padding: 0;
            width: 60px;
            height: 30px;
            outline: none;
            text-align: center;
        }

/* Main Style */
body {
    background: #FFF;
    font-family: "Calibri";
    display: flex;
    flex-direction: column;
    align-items: center;
}

    body > main {
        flex-grow: 1;
        padding: 20px 0;
        width: 80%;
    }

    body > main img {
        width: 30%;
    }